lab5_5_n8n/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "695b4398-36f8-4b66-8e56-e84e33aa3449",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        16
      ],
      "id": "fefb0818-9ba1-4768-9982-993a5e3a4386",
      "name": "Webhook",
      "webhookId": "695b4398-36f8-4b66-8e56-e84e33aa3449"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
  "name": "Authorization",
  "value": "Bearer YOUR_GROQ_API_KEY_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\": \"llama-3.1-8b-instant\", \"messages\": [{\"role\": \"user\", \"content\": \"Summarize: {{ $json.body.text }}\"}]}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        144,
        16
      ],
      "id": "03d8a01e-107f-4730-b2dc-e281fbcfb568",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec543a9b-7172-4e9a-a8fc-142569b3d5a3",
              "name": "summary_result",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        16
      ],
      "id": "65319837-c828-46ae-8db0-4e3295a852f1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "71fc88bd-f15b-4014-9e79-b5e32ac9105b",
              "leftValue": "={{ $json.summary_result }}",
              "rightValue": "negative",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        16
      ],
      "id": "6423a72a-e12c-4ecd-995c-a08d37aedf4e",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "187c7462-1ed2-4c20-8eaf-3f39dd4444fc",
              "name": "status",
              "value": "FLAGGED FOR HUMAN REVIEW",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        -80
      ],
      "id": "277403f0-e6d5-43a6-9c93-3be3cc14f6cd",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b30f3275-1391-4beb-9a5c-75e0bd47ac9c",
              "name": "status",
              "value": "Auto-processed, no issues detected",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        112
      ],
      "id": "b27c75fa-292e-4a5c-bde9-edb0d06ecbb1",
      "name": "Edit Fields2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1088,
        16
      ],
      "id": "373da456-f07f-4882-b358-b42752521fe2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88c25f95-cd48-44b3-9ee0-abc42c2deeae",
              "name": "items",
              "value": "[\"Teks pertama\", \"Teks kedua\", \"Teks ketiga\", \"Teks keempat\", \"Teks kelima\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1296,
        16
      ],
      "id": "9e159c34-5e08-4bc3-a0b1-bd5e3f54d4d0",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1504,
        16
      ],
      "id": "4a509527-017a-4d00-aefa-7d29f1c8cf53",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65d9e222-5432-4680-be98-769aa2042db8",
              "name": "processed_text",
              "value": "={{ $json.items }} - processed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        224
      ],
      "id": "b9627c7d-ab15-4605-9f1b-a921e58be674",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "processed_text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1712,
        -80
      ],
      "id": "739b65ba-49e0-4fd5-8b4d-d64919feb3a5",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4d5cdd7b-5310-4316-a299-941ea28a708c",
  "meta": {
    "instanceId": "423f2be754b56820905d3af0ee49bda577914d2d8c2d863ee7a34b4f05a8b763"
  },
  "nodeGroups": [],
  "id": "fPft2lEESEk1YVJ3",
  "tags": []
}